<h1 id="vue3">Vue3 基礎</h1>
<p>Vue 3 是一個流行的前端JavaScript框架，用於建構用戶界面和單頁應用程序。相比於 Vue 2，它帶來了許多新特性和改進，包括更快的渲染速度、更小的包大小以及Composition API的引入。以下是Vue 3的一些基礎知識，包括實例創建、模板語法、數據綁定、指令和事件處理的介紹和示例。</p>
<h3 id="vue3-1">Vue3 實例</h3>
<p>在Vue 3中，創建一個應用實例通過使用<code>createApp</code>方法，然後使用<code>mount</code>方法將其掛載到一個DOM元素上。例如：</p>
<pre><code class="javascript language-javascript">import { createApp } from 'vue';
import App from './App.vue'; // 引入App組件

const app = createApp(App);
app.mount('#app');
</code></pre>
<p>這裏<code>App.vue</code>是一個Vue組件，<code>#app</code>是DOM中的一個元素的ID，Vue應用會在這個元素內渲染。</p>
<h3 id="vue3-2">Vue3 模板語法</h3>
<p>Vue模板提供了聲明式地將數據渲染進DOM的機制。模板語法包括插值、指令和JavaScript表達式等。</p>
<p><strong>插值</strong>：</p>
<pre><code class="html language-html">&lt;span&gt;{{ message }}&lt;/span&gt;
</code></pre>
<p>在這個例子中，<code>message</code>是一個與Vue實例相關聯的數據屬性，它的值將被渲染到<code>&lt;span&gt;</code>標籤內。</p>
<p><strong>指令</strong>：</p>
<p>Vue指令是帶有<code>v-</code>前綴的特殊屬性，用於在模板上應用反應式行為。</p>
<pre><code class="html language-html">&lt;p v-if="seen"&gt;現在你看到我了&lt;/p&gt;
</code></pre>
<p><code>v-if</code>指令根據表達式<code>seen</code>的真偽值決定元素是否渲染。</p>
<h3 id="">數據綁定和插值</h3>
<p>Vue提供了一種機制來實現數據和DOM元素之間的雙向綁定，最常見的是使用<code>v-model</code>指令。</p>
<pre><code class="html language-html">&lt;input v-model="message" placeholder="請輸入些什麼"&gt;
&lt;p&gt;消息: {{ message }}&lt;/p&gt;
</code></pre>
<p>這裏，<code>input</code>元素的值和<code>message</code>數據屬性被雙向綁定。當輸入框的值發生改變時，<code>message</code>的值也會更新，反之亦然。</p>
<h3 id="-1">指令和事件處理</h3>
<p>除了內置指令，Vue還允許使用<code>v-on</code>指令添加事件監聽器。</p>
<pre><code class="html language-html">&lt;button v-on:click="doSomething"&gt;點擊我&lt;/button&gt;
</code></pre>
<p>這裏，當按鈕被點擊時，會調用與Vue實例關聯的<code>doSomething</code>方法。</p>
<p>結合上述基礎，你可以開始使用Vue 3建立動態的、互動豐富的Web應用。這只是Vue 3豐富特性的一小部分，隨著你對框架的深入了解，你將能夠開發出更加複雜和高效的應用。</p>